html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        include ../partials/header.pug
        h2 Créer un événement
        form(method="post" action="/party")
            div
                label(for="name") Nom de l'événement
                input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
                label(for="author") Auteur
                input(name="author" id="author" required minlength="3" placeholder="Monsieur Smith")
                label(for="date") Date
                input(name="date" id="date" maxlength="10" minlength="10" placeholder="AAAA-MM-JJ")
            button(type="submit") Créer
