html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        include ../partials/header.pug
        h1 Qui prend quoi ?
        h2= party.name
        h3 Créé par #{party.author}
